@import '../base/variables';
@import '../base/listas';
@import '../base/mixin';

.main__contact {
    width: 100%;
    background-color: $bg-color-pages;

    .main__contact-text {
        color: nth($colores, 1);
        padding: 2%;
        font-size: nth($font-size, 2);
        letter-spacing: nth($letter-spacing, 1);
        word-spacing: nth($word-spacing, 2);

        @media only screen and (min-width:481px) and (max-width:767px) {
            font-size: nth($font-size, 3);
        }

        @media only screen and (min-width:768px) {
            width: 50%;
            font-size: nth($font-size, 5);
        }
    }

    .main__contact-div {
        @include display-flex (flex, start, flex-start);
        @include flex-direction (flex, column);

        @media only screen and (min-width:481px) and (max-width:767px) {
            @include display-flex (flex, space-around, center);

        }

        @media only screen and (min-width:768px) {
            @include display-flex (flex, space-around, null);
            @include flex-direction (flex, row);

        }

        .main__contact-contact {
            @include display-flex (flex, space-around, null);
            @include flex-direction (flex, column);

            @media only screen and (min-width:481px) and (max-width:767px) {
                width: 80%;
                @include display-flex (flex, flex-start, center);

            }

            @media only screen and (min-width:768px) {
                width: 50%;
                @include display-flex (flex, flex-start, center);

            }

            .main__contact-title {
                color: nth($colores, 3);
                font-size: nth($font-size, 3);
                letter-spacing: nth($letter-spacing, 1);
                word-spacing: nth($word-spacing, 2);
                @include flex-direction (flex, row);
                @include display-flex (flex, space-around, center);

                @media only screen and (min-width:481px) and (max-width:767px) {
                    font-size: nth($font-size, 5);
                }

                @media only screen and (min-width:768px) {
                    font-size: nth($font-size, 6);
                    letter-spacing: nth($letter-spacing, 2);
                    word-spacing: nth($word-spacing, 3);
                }
            }

            .main__contact-formulary {
                width: 100%;
                padding: 2% 4%;

                .formulary {
                    @include flex-direction (flex, column);
                    @include display-flex (flex, center, null);

                    label {
                        color: nth($colores, 1);
                        padding: 1%;
                        font-size: nth($font-size, 2);
                        letter-spacing: nth($letter-spacing, 1);
                        word-spacing: nth($word-spacing, 1);
                    }

                    input,
                    textarea {
                        outline: none;

                        &:focus {
                            border: solid 4px nth($colores, 3);
                            border-radius: 5px;
                        }
                    }

                    @media only screen and (min-width:481px) and (max-width:767px) {
                        label {
                            font-size: nth($font-size, 3);
                            letter-spacing: nth($letter-spacing, 2);
                            word-spacing: nth($word-spacing, 2);
                        }
                    }

                    @media only screen and (min-width:768px) {
                        label {
                            font-size: nth($font-size, 4);
                            letter-spacing: nth($letter-spacing, 3);
                            word-spacing: nth($word-spacing, 3);
                        }
                    }

                }

            }

            .main__contact-thanks {
                color: nth($colores, 1);
                text-align: center;
                padding: 2%;
                font-size: nth($font-size, 2);
                letter-spacing: nth($letter-spacing, 1);
                word-spacing: nth($word-spacing, 2);

                &:hover::after {
                    content: "🧡";
                }

                @media only screen and (min-width:481px) and (max-width:767px) {
                    font-size: nth($font-size, 3);
                }

                @media only screen and (min-width:768px) {
                    font-size: nth($font-size, 5);
                }
            }
        }

        .main__contact-ubic {
            background-color: white;
            margin-bottom: 4%;
            margin-left: 10%;
            border-radius: 12px;
            width: 80%;
            height: auto;
            box-shadow: 11px 12px 27px -12px rgba(0, 0, 0, 0.59);
            -webkit-box-shadow: 11px 12px 27px -12px rgba(0, 0, 0, 0.59);
            -moz-box-shadow: 11px 12px 27px -12px rgba(0, 0, 0, 0.59);
            @include flex-direction (flex, column);
            @include display-flex (flex, center, center);

            iframe {
                width: 90%;
                height: auto;
            }

            @media only screen and (min-width:481px) and (max-width:767px) {
                width: 50%;
                padding: 1%;
                margin-left: 0;
                @include display-flex (flex, center, center);

            }

            @media only screen and (min-width:768px) {
                width: 25%;
                padding-top: 0;
                margin-left: 0;
                @include display-flex (flex, flex-start, center);

                &:hover {
                    transform: scale(1.2);
                    transition: all 0.5s ease-out;
                }

                iframe {
                    padding-top: 15%;
                    width: 70%;
                    height: auto;
                }

            }

            .main__contact-title {
                color: nth($colores, 2);
                padding-top: 10%;
                font-size: nth($font-size, 2);
                text-shadow: 3px 2px 8px nth($colores, 3);
                @include flex-direction (flex, row);
                @include display-flex (flex, space-around, center);

                @media only screen and (min-width:481px) and (max-width:767px) {
                    font-size: nth($font-size, 3);
                }

                @media only screen and (min-width:768px) {
                    font-size: nth($font-size, 4);
                }
            }

            .main__contact-direc {
                padding-top: 5%;
                margin-bottom: 30%;
                color: nth($colores, 5);
                font-size: nth($font-size, 1);

                @media only screen and (min-width:481px) and (max-width:767px) {
                    font-size: nth($font-size, 2);
                }

                @media only screen and (min-width:768px) {
                    font-size: nth($font-size, 3);
                }
            }


        }
    }
}