.main__galery{
    width: 100%;
    background-color: white;
    padding-bottom: 2%;
    .main__galery-title{
        color: #fcfce6;
    background-color: #8e3200;
    padding: 2%;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    text-align: center;
    @media only screen and (min-width:481px) and (max-width:767px) {
        font-size: 16px;
        word-spacing: 3px;
    }
    @media only screen and (min-width:768px) {
        font-size: 18px;
        word-spacing: 4px;
    }
    }

    .carrousel{
        display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 220px;
    gap: 10px;
    img, iframe{
        width: 100%;
        height: 100%;
        padding: 2%;
        object-fit: contain;
        box-shadow: 11px 12px 27px -12px rgba(0, 0, 0, 0.59);
        -webkit-box-shadow: 11px 12px 27px -12px rgba(0, 0, 0, 0.59);
        -moz-box-shadow: 11px 12px 27px -12px rgba(0, 0, 0, 0.59);            
    }
    @media only screen and (min-width:481px) and (max-width:767px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 240px;
        gap: 15px;
    }
    @media only screen and (min-width:768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
        gap: 20px;
    }
        .row-span{
        @media only screen and (min-width:768px) {
            grid-row: span 2;
        }
    }
    }
}