@import '../base/variables';
@import '../base/listas';
@import '../base/mixin';

.main__index {
    background-color: $bg-color-pages;
    padding: 2%;

    .main__container{
        width: 100%;
    }

    .section__vid {
        border: solid 3px nth($colores, 3);
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
   
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

    .carousel-cel {
        padding-top: 15px;
        padding-bottom: 20px;
        width: 90%;
        margin: 0 auto;

        @media screen and (min-width:768px) {
            display: none;
        }
    }
}