@import '../base/variables';
@import '../base/listas';

.main__index{
    background-color: $bg-color-pages;
    padding: 2%;
    .section__vid{
        border: solid 3px nth($colores,3);
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        video{
            width: 100%;
            height: auto;
        }
    }
   .carousel-cel{
        padding-top: 15px;
        padding-bottom: 20px;
        width: 90%;
        margin: 0 auto;
        @media screen and (min-width:768px){   
                display: none;
        }
   }
}

