@import '../base/listas';

.main__questions {
    background-image: url(//multimedia/fondoCarpinteria1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .main__questions-section {
        width: 100%;

        .main__questions-title {
            color: nth($colores, 1);
            background-color: $bg-color-pages;
            padding: 2%;
            margin-bottom: 4%;
            font-size: nth($font-size, 2);
            letter-spacing: nth($letter-spacing, 1);
            word-spacing: nth($word-spacing, 1);
            text-align: center;

            @media only screen and (min-width:481px) and (max-width:767px) {
                font-size: nth($font-size, 3);
                letter-spacing: nth($letter-spacing, 2);
                word-spacing: nth($letter-spacing, 2);
            }

            @media only screen and (min-width:768px) {
                font-size: nth($font-size, 4);
                letter-spacing: nth($letter-spacing, 3);
                word-spacing: nth($word-spacing, 3);
            }
        }

        .main__questions-quest {
            color: nth($colores, 2);
            font-size: nth($font-size, 2);
            padding-left: 2%;
            letter-spacing: nth($letter-spacing, 1);
            word-spacing: nth($word-spacing, 1);

            @media only screen and (min-width:481px) and (max-width:767px) {
                font-size: nth($font-size, 3);
            }

            @media only screen and (min-width:768px) {
                font-size: nth($font-size, 5);
                word-spacing: nth($word-spacing, 2);
            }
        }

        .main__questions-answer {
            color: nth($colores, 5);
            font-size: nth($font-size, 2);
            padding-left: 2%;
            padding-bottom: 2%;
            letter-spacing: nth($letter-spacing, 1);
            word-spacing: nth($word-spacing, 2);

            @media only screen and (min-width:481px) and (max-width:767px) {
                font-size: nth($font-size, 3);
            }

            @media only screen and (min-width:768px) {
                font-size: nth($font-size, 5);
            }
        }
    }
}